<h1>Custom Dropdown Demo</h1>

<custom-select
        [required]="true"
        label="Destination"
        placeholder="Pick Your Holiday Destination"
        [(ngModel)]="selectedDestination"
        #model="ngModel">
    <custom-select-option key="1" value="Paris"></custom-select-option>
    <custom-select-option key="2" value="Mauritius"></custom-select-option>
    <custom-select-option key="3" value="Singapore"></custom-select-option>
    <custom-select-option key="4" value="Malaysia"></custom-select-option>
    <custom-select-option key="5" value="Goa"></custom-select-option>
    <custom-select-option key="6" value="Thailand"></custom-select-option>
</custom-select>
<div *ngIf="model.invalid && (model.dirty || model.touched)" style="color: red">
    <div *ngIf="model.errors.required">
        Destintation is required.
    </div>
</div>